<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button size="small" (click)="backToPage()">
            <ion-icon slot="icon-only" name="close"></ion-icon> 
          </ion-button>
        </ion-buttons>
        <ion-title> Detalle de la Solicitud</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding centered-content">
      
      
      <ion-list>
        <p class="centered-text ion-padding">ADMINISTRADORA</p>
        <p class="ion-padding">Entrega de productos y cantidad para: {{solicitud.empresa.nom_emp}}</p>
        <p> Fecha Solicitud: {{ solicitud.fecha_solicitud['seconds'] * 1000 | date:'dd/MM/yyyy h:mm:ss a' }}</p>
        <p>Fecha de entrega: {{ getCurrentDate() }} </p>
        <ion-card *ngFor="let p of solicitud.productos">
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img [src]="p.imagen" alt="Imagen cargada" />
                </ion-thumbnail>
                <div class="item-details">
                  <ion-label>{{p.nom_prod}}</ion-label>
                  <ion-label>Contenido: {{p.cont_prod + ' ' + p.uni_med_prod}}</ion-label>
                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <ion-item>
        <div>
          <ion-label id="comentarios-label">Comentarios</ion-label>
          <ng-container *ngIf="solicitud.comentario; else sinComentarios" class="comentarios">{{ solicitud.comentario }}</ng-container>
        </div>
        
        <ng-template #sinComentarios>
          <span class="comentarios-sin">Sin comentarios</span>
        </ng-template>
        

      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>