.stock-bajo-message {
    color: red; /* Cambia el color del texto a rojo o elige tu propio estilo */
    font-size: 14px; /* Cambia el tamaño de fuente según tus preferencias */
    margin-top: 10px; /* Agrega un margen superior para separar el mensaje del contenido del card */
  }
  