<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button size="small" (click)="backToPage()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Entregas Incompletas</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item-divider class="ion-text-center">
          <ion-label>ADMINISTRADORA</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>
            Entrega de productos y cantidad para: {{solicitud.empresa.nom_emp}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Fecha de entrega: {{getCurrentDate()}}
          </ion-label>
        </ion-item>
        <ion-card *ngFor="let p of solicitud.productos">
          <ion-card-content>
            <ion-thumbnail slot="start">
              <img
                alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
            </ion-thumbnail>
            <ion-label>
              {{p.nom_prod}}
              <p>Contenido: {{p.cont_prod + ' ' + p.uni_med_prod}}</p>
            </ion-label>
            <ion-checkbox
              labelPlacement="end"
              (ionChange)="checkboxClick($event, p)"
              [checked]="isChecked(p.id_producto)">
            </ion-checkbox>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <!-- Puedes agregar más elementos aquí según tus necesidades -->
    </ion-content>
  </ng-template>
</ion-modal>
