<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button size="small">
        <ion-back-button default-href="#" (click)="backToPage()"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Lista Trabajadores</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <app-loader *ngIf="isLoading"></app-loader>
  <ion-grid *ngIf="!isLoading">
    <ion-card *ngFor="let u of usuarios">
      <!-- <ion-card-header>
          <ion-card-title>{{ u.nom_usr }} {{ u.primer_ap }} {{ u.seg_ap }}</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
      <ion-item >
        <ion-avatar slot="start">
          <!-- <img [src]="usuario.avatarUrl" alt="{{ usuario.nom_usr }}"> -->
        </ion-avatar>
        <ion-label>
          <h2>{{ u.nom_usr }} </h2>
          <h3>{{ u.primer_ap }} {{ u.seg_ap }}</h3>
          <p>Estado: {{ getValorEstado(u.estado) }}</p>
        </ion-label>
      </ion-item>
        <ion-item >
          <ion-button slot="end" color="secondary" (click)="editarUsuario(u)">
            <ion-icon  name="create"></ion-icon>
          </ion-button>
          <ion-button slot="end" color="primary" (click)="verUsuario(u)">
            <ion-icon  id="top-center" name="search"></ion-icon>
          </ion-button>
          <ion-button slot="end" color="danger" (click)="eliminarUsuario(u)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
    </ion-card-content>
  </ion-card>
  </ion-grid>
  <ion-fab color="tertiary" slot="fixed" vertical="bottom" horizontal="end" routerLink="/crear-usuario">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>
</ion-content>
