.button-container {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
  }
  
  ion-buttons {
    display: inline; /* Para que los botones estén en línea */
    margin-right: 10px; /* Espacio entre los botones (ajusta según sea necesario) */
  }
  
//   ion-button {
//     background-color: #ff5733;
//   color: #ffffff; 
//   border: none; 
//   }


  
  