.login-card {
    max-width: 400px;
    margin: auto;
  }
  
  .iconEye {
    cursor: pointer;
  }
  
  .forgot-password-link {
    margin-top: 15px;
    justify-content: center;
  }
  
  ion-button {
    margin-top: 20px;
  }

//   .login-card {
//     // max-width: 400px;
//     margin: auto;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 100vh; /* Establece la altura del contenedor al 100% de la altura de la pantalla */
//   }

//   .full-width-form {
//     width: 100%;
//   }
  
    

// .background-image {
//     --background: url('../../../assets/images/empresa.png') no-repeat center center fixed;
//     background-size: cover;
//   }
  
  