<ion-content>
    <div class="ion-text-center" *ngIf="loading">
        <ion-spinner name="crescent" color="primary" class="spinner-center"></ion-spinner>
    </div>


    <!-- <app-error *ngIf="errorApi != null" [error]="errorApi" [tituloboton]="tituloBoton" (onClicBoton)="regresar($event)"></app-error> -->

    <ion-grid *ngIf="uid != null && usuario != null">

        <ion-row>
            <ion-col size="12" >
                <ion-item lines="none" class="item-header">
                    <div class="center">
                        <ion-img class="custom-image" src="/../assets/images/logo2.png" ></ion-img>
                    </div>

                    <ion-chip slot="end" color="danger" (click)="cerrarSession()" tappable>
                        <ion-icon name="exit-outline" color="danger"></ion-icon>
                        <ion-label>Salir</ion-label>
                      </ion-chip>

                </ion-item>
                
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12"> </ion-col>
        </ion-row>

        <ion-grid class="cuerpo">
            <ion-row>
                <ion-col size="12" class="ion-text-center" >
                    <div class="ion-text-center">
                        <!-- <img [src]="user.datos.imagenPerfil" style="width: 30%" /> -->
                        <img src="/../assets/images/user.png" style="width: 30%" />
                    </div>
                    <ion-label class="title-user">
                        <ion-text color="primary">
                            <!-- Hola, {{ user.datos.nombreCompleto | titlecase }} -->
                            Hola, {{usuario.nom_usr}}
                        </ion-text>
                    </ion-label>
                </ion-col>
                <ion-col size="6" *ngIf="validarRol(['Administrador', 'Empleado'])">
                    <ion-card color="light" routerLink="/profile">
                        <!-- <ion-card color="light" (click)="navigateToPage('/profile)"></ion-card>-->
                        <ion-icon name="person-outline" color="primary"></ion-icon>
                        <!-- <ion-text>
                            <p>Mi perfil</p>
                        </ion-text> -->
                        <ion-text class="ion-text-center">
                            <p>Mi perfil</p>
                          </ion-text>
                    </ion-card>
                </ion-col>
                <ion-col size="6" *ngIf="validarRol(['Empleado'])">
                    <ion-card color="light" (click)="navigateToPage('/solicitar-productos')">
                        <ion-icon name="receipt-outline" color="primary"></ion-icon>
                        <ion-text class="ion-text-center">
                            <p>Solicitar Productos</p>
                        </ion-text>
                        
                    </ion-card>
                </ion-col>

                <!-- restringir con la fecha -->
                <!-- <ion-col size="6" *ngIf="validarRol(['Empleado'])">
                    <ion-card class="custom-button" (click)="mostrarAlertaSolicitarProductos()">
                      <ion-icon name="receipt-outline" color="primary"></ion-icon>
                      <ion-text class="ion-text-center">
                        <p>Solicitar Productos</p>
                      </ion-text>
                    </ion-card>
                  </ion-col>                   -->

                <ion-col size="6" *ngIf="validarRol(['Empleado'])">
                    <ion-card color="light" (click)="navigateToPage('/historial-solicitud')">
                        <!-- <ion-card color="light" routerLink="/historial-solicitud"> -->
                        <ion-icon name="albums-outline" color="primary"></ion-icon>
                        
                        <ion-text class="ion-text-center">
                            <p>Historial de Solicitudes</p>
                        </ion-text>
                    </ion-card>
                </ion-col>

                <ion-col size="6"*ngIf="validarRol([ 'Empleado'])">
                    <ion-card color="light" (click)="navigateToPage('/solicitudes-aceptadas-usuario')">
                        <ion-icon name="checkmark-done-circle-outline" color="primary"></ion-icon>
                        <ion-text class="ion-text-center">
                            <p>Solicitudes Aprobadas </p>
                        </ion-text>
                    </ion-card>
                </ion-col>

                <ion-col size="6"*ngIf="validarRol([ 'Empleado'])">
                    <ion-card color="light" (click)="navigateToPage('/solicitudes-activas')">
                        <ion-icon name="time-outline" color="primary"></ion-icon>
                        <ion-text class="ion-text-center">
                            <p>Solicitudes Pendientes </p>
                        </ion-text>
                    </ion-card>
                </ion-col>

                <ion-col size="6" *ngIf="validarRol(['Empleado'])"  >
                    <ion-card color="light" (click)="navigateToPage('/reclamo-usuario')">
                        <ion-icon name="alert-circle-outline" color="primary"></ion-icon>
                        <ion-text>
                            <p>Punto de reclamos</p>
                        </ion-text>
                    </ion-card>
                </ion-col>
                
                <ion-col size="6" *ngIf="validarRol(['Administrador'])">
                    <ion-card color="light" (click)="navigateToPage('/crud-productos')">
                        <ion-icon name="book-outline" color="primary"></ion-icon>
                        <ion-text class="ion-text-center">
                            <p>Gestionar Productos</p>
                        </ion-text>
                    </ion-card>
                </ion-col>
                <ion-col size="6" *ngIf="validarRol(['Administrador'])">
                    <ion-card color="light" (click)="navigateToPage('/crud-categorias')">
                        <ion-icon name="calendar-outline" color="primary"></ion-icon>
                        <ion-text>
                            <p>Gestionar Categorías</p>
                        </ion-text>
                    </ion-card>
                </ion-col>
                <ion-col size="6" *ngIf="validarRol(['Administrador'])">
                    <ion-card color="light"  (click)="navigateToPage('/solicitudes-pendientes')">
                        <ion-icon name="document-text-outline" color="primary"></ion-icon>
                        <ion-text>
                            <p>Gestionar Solicitudes</p>
                        </ion-text>
                    </ion-card>
                </ion-col> 

                <ion-col size="6" *ngIf="validarRol(['Administrador'])">
                    <ion-card color="light"  (click)="navigateToPage('/entregas-incompletas')">
                        <ion-icon name="document-text-outline" color="primary"></ion-icon>
                        <ion-text>
                            <p> Solicitudes incompletas </p>
                        </ion-text>
                    </ion-card>
                </ion-col>

                <ion-col size="6" *ngIf="validarRol(['Administrador'])">
                    <ion-card color="light"  (click)="navigateToPage('/solicitudes-aceptadas')">
                        <ion-icon name="document-text-outline" color="primary"></ion-icon>
                        <ion-text>
                            <p> Solicitudes Aceptadas </p>
                        </ion-text>
                    </ion-card>
                </ion-col>
                <ion-col size="6" *ngIf="validarRol(['Administrador'])"  >
                    <ion-card color="light" (click)="navigateToPage('/gestionar-historial')">
                        <ion-icon name="document-text-outline" color="primary"></ion-icon>
                        <ion-text>
                            <p>Solicitudes Completadas</p>
                        </ion-text>
                    </ion-card>
                </ion-col> 
                <ion-col size="6" *ngIf="validarRol(['Administrador'])"  >
                    <ion-card color="light" (click)="navigateToPage('/gestionar-usuarios')">
                        <ion-icon name="document-text-outline" color="primary"></ion-icon>
                        <ion-text>
                            <p>Gestionar Persona</p>
                        </ion-text>
                    </ion-card>
                </ion-col> 

                <ion-col size="6" *ngIf="validarRol(['Administrador'])"  >
                    <ion-card color="light" (click)="navigateToPage('/gestionar-empresas')">
                        <ion-icon name="document-text-outline" color="primary"></ion-icon>
                        <ion-text>
                            <p>Gestionar Empresa</p>
                        </ion-text>
                    </ion-card>
                </ion-col> 

                <ion-col size="6" *ngIf="validarRol(['Administrador'])"  >
                    <ion-card color="light" (click)="navigateToPage('/reporte-productos')">
                        <ion-icon name="document-text-outline" color="primary"></ion-icon>
                        <ion-text>
                            <p>Reporte Productos</p>
                        </ion-text>
                    </ion-card>
                </ion-col> 

                <ion-col size="6" *ngIf="validarRol(['Administrador'])"  >
                    <ion-card color="light" (click)="navigateToPage('/reclamos')">
                        <ion-icon name="document-text-outline" color="primary"></ion-icon>
                        <ion-text>
                            <p>Reclamos</p>
                        </ion-text>
                    </ion-card>
                </ion-col> 
            </ion-row>
        </ion-grid>
    </ion-grid>

</ion-content>