ion-icon {
    font-size: 2em;
  }
  ion-text{
    
    text-align: center;
    
  }
  .custom-image {
    width: 500px; /* Ancho deseado */
    height: 500px; /* Alto deseado, ajusta esto para hacerlo cuadrado */
    object-fit: cover; /* Para asegurarte de que la imagen se ajuste al cuadro sin deformarse */
  }
  .disabled-button {
    opacity: 0.5; /* Cambia la opacidad del botón */
    pointer-events: none; /* Evita que se pueda hacer clic en el botón */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
  }
  
  