<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#" (click)="backToPage()"></ion-back-button>
    </ion-buttons>
    <ion-title>Formulario de Reclamos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let r of reclamos">
          <ion-card-header>
            <ion-card-title>{{ r.asunto }}</ion-card-title>
            <p>Fecha: {{ r.fecha['seconds'] * 1000 | date:'dd/MM/yyyy h:mm:ss a'  }}</p>
          </ion-card-header>
          <ion-card-content>
            <p>Usuario: {{ r.nom_usr }} {{ r.primer_ap }} {{ r.seg_ap }}</p>
            <p>Empresa: {{ r.nom_emp }}</p>
            <p>Descripción: {{ r.descripcion }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


