/* Estilos personalizados para el formulario */
.custom-label {
    color: #333; /* Color del texto de la etiqueta */
    font-weight: bold; /* Texto en negrita */
    font-size: 16px; /* Tamaño de fuente */
  }
  
  .custom-input {
    border: 1px solid #ccc; /* Borde del campo de entrada */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
  }
  
  .custom-select {
    border: 1px solid #ccc; /* Borde del campo de selección */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
  }
  
  .custom-button {
    margin-top: 20px; /* Espaciado superior para el botón */
    font-weight: bold; /* Texto en negrita */
    font-size: 18px; /* Tamaño de fuente */
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
  }
  
  /* Otros estilos personalizados para diferentes elementos del formulario */
  