.custom-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
    background-color: #fff;
  }
  
  .custom-label {
    font-size: 26px;
    color: #e0d9e3;
    margin-bottom: 5px;
  }

 .centered-content {
    background-color: #bb2075; /* Cambia el color de fondo a tu preferencia */
  }
  
  