<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
    
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="correo_usr"  type="email"></ion-input>
      </ion-item>    
    <ion-button expand="full" color="secondary" type="submit" (click)="restablecer()">Restablecer</ion-button>
</ion-card-content>
</ion-card>
</ion-content>
