<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#" (click)="backToPage()"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Primer Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.primer_ap" name="primer_ap"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Segundo Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.seg_ap" name="seg_ap"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.dir_usr" name="dir_usr"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.nom_usr" name="nom_usr"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input type="tel" [(ngModel)]="usuario.cel_usr" name="cel_usr"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Departamento</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.dep_usr" name="dep_usr"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Roles</ion-label>
          <ion-select required name="roles" [(ngModel)]="usuario.roles" multiple="true">
            <ion-select-option *ngFor="let r of roles" [value]="{id_rol: r.id, nom_rol:r.nom_rol}">
              {{ r.nom_rol }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        

      <ion-item>
          <ion-label position="stacked">Empresas</ion-label>
          <ion-select name="empresa" [(ngModel)]="usuarioEmpresas.empresas" multiple="true">
            <ion-select-option *ngFor="let e of empresas" [value]="{id_emp: e.id, nom_emp: e.nom_emp}">
              {{ e.nom_emp }}
            </ion-select-option>
          </ion-select>
        </ion-item>

      </ion-list>

      <ion-button expand="full" shape="round" color="tertiary" (click)="registrar()" [disabled]="registroEnProceso">
        {{ registroEnProceso ? 'Registrando...' : 'Registrarse' }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
